*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.top{
    background: white;
    height: 75px;
    width: 100%;
}
/*header{
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
            ),url("banner.jpg");
    height: 100vh;
    background-size: cover ;
    background-position: center;
}*/
h1 {
    text-align: center;
    color: black;
}
h3 {
    color: black;
}

.logo img{
    float: left;
    width: 50px;
    height: auto;
    padding-left: 40px;
    padding-top: 10px;
}

.title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 50px;
    font-family: sans-serif;
}

.title h2{
    color: #fff;
    padding-left: 50px;
}

/*---------------------------*/ /* Read Users */ /*---------------------------*/



form{
    /*border: 1px solid black;*/
    width: 500px;
    height: 50vh;
    /*background: rgba(100,100,100,0.3);*/
    /*opacity: 50%;*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 50px;
}
input{
    width: 250px;
    color: black;
    padding: 10px;
    outline: none;
}

.name{
    font-size: 18px;
    color: #74B9FF;
    padding-top: 30px;
}
i{
    font-size: 20px;
    color: cornflowerblue;
}
*::-webkit-input-placeholder {color: white; }/*change color of placeholder*/

.place{
    background: none;
    border: none;
    color: white;
}


select{
    width: 20%;
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
}

select option{
    background: rgba(0, 100, 100, 0.8);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.formtitle1{
    position: center;
    font-size: 30px;
    margin-left: 145px;
    color: #fff;
    font-weight: bold;
}

.formtitle2{
    position: center;
    font-size: 15px;
    margin-left: 119px;
    color: #fff;
}
ul li{
    list-style-type: none;
}
ul li a{
    float: right;
    padding: 30px 30px;
    text-decoration: none;
    color: black;
}
.bold{
    font-weight: bold;
}

video{
    filter: brightness(60%);
    padding-top: 20px;
}
.inputtag{
    position: absolute;
    border: 1px solid transparent;
    top: 95%;
    left: 15%;
}
input{
    background: transparent;
    border: 1px solid white;
    font-size: 20px;
    margin: 5px;
    color: white;

}
.videocontent{
    position: relative;
}
.navbar{
    position: absolute;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    text-align: center;
}
hr{
    margin-top: 20px;
    width: 580px;
    border-top: 1px solid red;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

table{
    padding: 40px;
    background: #171619;
    color: white;
    height: auto;
    font-size: 14px;
    width: 100%;
}